// font size
$min-fontsize: 1rem;
$max-fontsize: 2rem;
$fontsize-scale: 1.2;
$line-height: 1.35;

// color
$lead-color: #1a1a1a;
$main-color: #333;
$muted-color: #4d4d4d;

// block color
$grey-border: #666;
$grey-background: #eee;

// anchor color
$anchor-color: #006edb;
$anchor-hover: #003161;
$anchor-visited: #5800db;

// font
$main-font: "IBM Plex Sans", sans-serif;
$code-font: "Fira Mono", monospace;

// scale
$small: $min-fontsize / $fontsize-scale;
$smaller: $small / $fontsize-scale;
$heading6: $min-fontsize * $fontsize-scale;
$heading5: $heading6 * $fontsize-scale;
$heading4: $heading5 * $fontsize-scale;
$heading3: $heading4 * $fontsize-scale;
$heading2: $heading3 * $fontsize-scale;
$heading1: $heading2 * $fontsize-scale;

// breakpoints
$b-s: 320px;
$b-m: 768px;
$b-l: 1024px;
$b-xl: 1280px;