@charset "UTF-8";
* {
  box-sizing: border-box;
}
*::before, *::after {
  box-sizing: border-box;
  text-decoration: inherit;
  vertical-align: inherit;
}

p,
h1, h2, h3, h4, h5, h6,
blockquote,
pre,
ol, ul, dl,
table,
figure, img,
header, main, footer, article, aside, div, nav {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  display: block;
}

p:first-child,
h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child,
blockquote:first-child,
pre:first-child,
ol:first-child, ul:first-child, dl:first-child,
table:first-child,
figure:first-child, img:first-child {
  margin-top: 0;
}

code, pre {
  font-size: 1em;
  font-family: "IBM Plex Mono", "Courier New", monospace;
}

a {
  color: #0000CD;
  text-decoration: none;
}
a:visited {
  color: #9370DB;
}
a:hover, a:active {
  color: #000080;
  text-decoration: underline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

mark {
  background-color: yellow;
}

hr {
  border: 0;
  border-top: thick solid #999;
}

pre {
  overflow: auto;
  color: #000;
  padding: .25rem;
  border: 1px solid #999;
}

:not(pre) > code, pre {
  font-family: "IBM Plex Mono", "Courier New", monospace;
  background-color: #eee;
}

:not(pre) > code, mark {
  white-space: nowrap;
  color: #000;
  padding: 0 2px;
}

p,
blockquote,
pre,
ol, ul, dl,
table,
figure, img {
  margin-top: 0.694rem;
}

p + p {
  margin-top: 0.694rem;
}

h1, h2, h3 {
  margin-top: 2.074rem;
}

hr, br {
  margin: 2.074rem 0;
}

h4, h5, h6 {
  margin-top: 1.728rem;
}

img {
  max-width: 100%;
}

figure figcaption {
  color: #666;
  font-size: 0.833rem;
}

img.img-center, figure.img-center img {
  margin-left: auto;
  margin-right: auto;
}

figure.img-center {
  text-align: center;
}

img.img-left, figure.img-left {
  float: left;
  max-width: 50%;
  max-height: 50%;
  margin-right: 0.833rem;
}

ul, ol {
  padding-left: 1rem;
  list-style-position: outside;
}

dl dt {
  font-weight: 500;
  color: #000;
}
dl dd {
  padding-left: 1rem;
}

blockquote {
  padding: 0.694rem;
  border-left: thick solid #999;
  background-color: #eee;
  color: #000;
}
blockquote footer {
  color: #666;
  font-size: 0.833rem;
  padding-left: 0.694rem;
  font-style: italic;
}
blockquote footer:before {
  content: "— ";
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  max-width: 100%;
  overflow-y: auto;
}
table.stripped tbody tr:nth-child(odd) {
  background-color: #eee;
}
table td, table th {
  border: 1px solid #999;
  padding: 0.694rem;
  white-space: nowrap;
  text-align: left;
}
table thead th, table tfoot td {
  background-color: #666;
  font-weight: 500;
  color: #fff;
}
table caption {
  caption-side: bottom;
  text-align: left;
  color: #666;
  font-size: 0.833rem;
}

html {
  line-height: 1.5;
  font-size: 1rem;
  font-size: clamp(1rem, 0.667rem + 1.667vw, 2rem);
  overflow-wrap: break-word;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
}

@supports not (font-size: clamp(1, 1, 1)) {
  @media (min-width: 768px) {
    html {
      font-size: 1.467rem;
    }
  }
  @media (min-width: 1024px) {
    html {
      font-size: 1.733rem;
    }
  }
  @media (min-width: 1280px) {
    html {
      font-size: 2rem;
    }
  }
}
body {
  font-family: "IBM Plex Sans", "Helvetica Neue", Roboto, Arial, sans-serif;
  font-weight: 400;
  color: #333;
  margin: .5rem;
}

.smaller, sub, sup {
  font-size: 0.694em;
}

.small, small {
  font-size: 0.833em;
}

h6 {
  font-size: 1.2rem;
}

h5 {
  font-size: 1.44rem;
}

h4 {
  font-size: 1.728rem;
}

h3 {
  font-size: 2.074rem;
}

h2 {
  font-size: 2.488rem;
}

h1 {
  font-size: 2.986rem;
}

h1, h2, h3, h4, h5, h6,
strong, b,
dt {
  color: #000;
  font-weight: 500;
}

.spoiler {
  color: #000;
  background-color: #000;
}
.spoiler:hover, .spoiler:active {
  color: #fff;
}
.spoiler a {
  color: inherit;
  text-decoration: underline;
}

.muted {
  color: #666;
}

.monospace {
  font-family: monospace;
}
