a {
	color: $anchor-color;
	text-decoration: none;
	
	&:visited {
		color: $anchor-visited;
	}
	
	&:hover, &:active {
		color: $anchor-hover;
		text-decoration: underline;
	}
}

sub {
	bottom: -.25em;
}

sup {
	top: -.5em;
}

mark {
	background-color: yellow;
}

hr {
	border: 0;
	border-top: thick solid $grey-border;
}

pre {
	overflow: auto;
	color: $lead-color;
	padding: .25rem;
	border: 1px solid $grey-border;
	background-color: $grey-background;
}

:not(pre) > code {
	background-color: $grey-background;
	border: 1px solid $grey-border;
}

:not(pre) > code, mark {
	white-space: nowrap;
	color: $lead-color;
	padding: 1px;
}