blockquote {
	padding: $smaller;
	border-left: thick solid $grey-border;
	background-color: $grey-background;
	color: $lead-color;
		
	footer {
		color: $muted-color;
		font-size: $small;
		padding-left: $smaller;
		font-style: italic;
		
		&:before {
			content: "— ";
		}
	}
}