table {
  border-collapse: collapse;
  border-spacing: 0;
  max-width: 100%;
  overflow-y: auto;
  
  &.stripped tbody tr:nth-child(odd) {
    background-color: $light-grey-bg;
  }
  
  td, th {
      border: 1px solid $grey-border;
      padding: $smaller;
      white-space: nowrap;
      text-align: left;
  }

  thead th, tfoot td {
      background-color: $muted-color;
      font-weight: 500;
      color: #fff;
  }

  caption {
      caption-side: bottom;
      text-align: left;
      color: $muted-color;
      font-size: $small;
  }
}